<%= render "shared/header" %>

<%# メイン画面 %>
<div class="hero vh-100 d-flex align-items-center">
  <section class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h1 class="display-4 text-white">Sauna Zen</h1>
        <p class="text-white my-3">Sauna is an excellent way to relax and rejuvenate your body. It helps relieve stress, improves circulation, cleanses the skin, and promotes muscle relaxation.</p>
        <p>
          <%# <a href="#" class="btn btn-primary my-2">サ活投稿</a> %>
          <%= link_to 'サ活投稿', new_proto_path, class: "btn btn-primary me-2" %>
          <%# <a href="#" class="btn btn-warning my-2">サ飯投稿</a> %>
          <%= link_to 'サ飯投稿', '#', class: "btn btn-warning" %>
        </p>
      </div>
    </div>
  </section>
</div>
<%# メイン画面 %>

<%# 投稿一覧 %>
<%# <div class='item-contents'>
  <h2 class='title'>みんなのサ活・サ飯一覧</h2>
  <div class="subtitle" >
    New Post
  </div>
  <ul class='item-lists'>

  <% @protos.each do |proto| %>
    <%# <li class='list'>
      <%= link_to proto_path(proto.id) do %>
      <%# <div class='item-img-content'>
        <%= image_tag proto.image, class: "item-img" %>
      <%# </div>
      <div class='item-info'>
        <h3 class='item-name'>
          <%= proto.title %>  
        <%# </h3>
        <div class='item-price'>
          <span>サウナ室<%= proto.sauna.name ><br>水風呂<%= proto.cold_bath.name ></span> 
          <%# <div class='star-btn'>
            <%= image_tag "star.png", class:"star-icon" >
            <span class='star-count'>0</span>
          </div%> 
        <%# </div>
      </div>
      <% end %>
    <%# </li> 
  <% end %> 

    <%# <% if @protos.blank? then %>
      <%# <li class='list'>
        <%= link_to '#' do %> 
        <%# <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %> 
        <%# <div class='item-info'>
          <h3 class='item-name'>
            サ活を投稿しよう！
          </h3>
          <div class='item-price'>
            <span>サウナ室<br>水風呂</span> %> 
            <%# <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" >
              <span class='star-count'>0</span>
            </div%>
          <%# </div>
        </div>
        <% end %> 
      <%# </li>
    <% end %> 
  <%# </ul>
</div> %>
<%# /投稿一覧 %>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @protos.each do |proto| %>
      <div class="col">
        <div class="card shadow-sm d-flex align-items-center">
            <div class='item-img-content'>
              <%= image_tag proto.image, class: "item-img" %>
            </div>
          <div class="card-body">
            <h3 class='card-text'>
              <%= proto.title %>  
            </h3>
            <p class="card-text">
              <span>サウナ室<%= proto.sauna.name %><br>水風呂<%= proto.cold_bath.name %></span> 
            </p>
            <%= link_to proto_path(proto.id) do %>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <%# <button type="button" class="btn btn-sm btn-outline-secondary">
                  <%= image_tag "star.png" >
                </button%>  
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <% end %> 
    </div>
  </div>
</div>


<%= render "shared/footer" %>
